{% extends 'admin/admin.html.twig' %}

{% block title "Toutes les catégories" %}

{% block body %}
        <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Créer le :</th>
                <th>Mis à jour le :</th>
                <th style="width: 220px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>{{ category.createdAt | date("d/m/Y \\à\\ H:i:s") }}</td>
                <td>{{ category.updatedAt | date("d/m/Y \\à\\ H:i:s") }} </td>
                <td>
                    <div class="d-flex gap-1">
                        <a href="{{ path('admin.category.show', {id: category.id, slug: category.slug}) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-warning btn-sm">Editer</a>
                        <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>                                       
                </td>
            </tr> 
        {% endfor %}   
    </table>
        </tbody>

    <a href="{{ path('admin.category.create') }}" class="btn btn-primary">Créer une catégorie</a>
{% endblock %}
